* {
    margin: 0;
    padding: 0;
}

.mb-3 {
    color: #083147;
    font-size: 1em;
    text-align: right;
}

footer {
    color: #083147;
    text-align: right;
}

.contenedor{
    width: auto;
    height: auto;
    background-color: rgba(5, 130, 146, 0.37);
}
.contenedor img {
    min-width: 400px;
    max-height: 600px;
    grid-template-columns: ;
}

.navbar{
    font-size: 1em;
}