@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
    box-sizing: border-box; 
    padding: 0;
    margin: 0;
}

body {
    justify-content: center;
    align-items: center;
    background-color: #cee9eb;

}

.navbar {
    font-size: 1em;
}

.mb-7 {
    color: #083147;
    font-size: 0.805em;
    text-align: right;
}


.mb-3 {
    color: rgb(255, 255, 255);
    font-size: 1em;
}

.container-fluid {   /**header*//
    display: grid;
    margin: auto;  
    grid-template-columns: repeat(1, 1fr);
    font-size: 1em;
}

.formulario {
    background-color: #083147;
    width: 90%;
    height: auto;
    justify-content: center;
    margin: auto;    
}

footer {
    color: #083147;
    text-align: right;
}

/*******************************************************************/
input[type=text] {
    padding:5px; 
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input[type=text]:focus {
    border-color:#333;
}

input[type=submit] {
    padding:5px 15px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}
/*******************************************************************/

@media screen and (max-width: 768px) {
    .col-4 {

    }
}

@media screen and (max-width: 480px) {
}
