@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
    box-sizing: border-box;   
}

body {
    justify-content: center;
    align-items: center;
}

.navbar {
    font-size: 1em;
}

.mb-7 {
    color: #083147;
    font-size: 0.805em;
    text-align: right;
}


.mb-3 {
    color: rgb(255, 255, 255);
    font-size: 1em;
}

.container{
    
}

.container-fluid {   /**header*//
    display: grid;
    margin: auto;  
    grid-template-columns: repeat(1, 1fr);
    font-size: 1em;
}


@media screen and (max-width: 768px) {
    .col-4 {

    }
}

@media screen and (max-width: 480px) {
}
