@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #cee9eb;
    justify-content: center;
    align-items: center;
    max-height: 100%;
    min-height: 100%;
}

.navbar {
    font-size: 1em;
    font-weight: 600;
    text-transform: uppercase;
}


/****************************************************************/

/*.containerNav {
    z-index: 10000;
    always on top navbar?
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    float: left;
    font-size: 1.5em;
    color: black;
    font-weight: bold;
} */

/************************************************************/

.container {
    font-family: 'Poppins', sans-serif;
    position: relative;
    width: 90%;
    background: #ffffff;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
    margin: auto;
}


.container .leftside {
    background: #053949;
    padding: 40px;
}

.profileTxt {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.profileTxt .img {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.profileTxt .img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profileTxt h2 /*DAniel Seemann*/
{
    color: #fff;
    font-size: 1.4em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font: weight 600px;
    line-height: 1.4em;
}

.profileTxt h2 span /* cheff*/
{
    font-size: 0.9em;
    font-weight: 300;
}

/****************************************************************/

.infoContacto {
    margin-top: 45px;
    color: #ffffff;
    font-size: 15px;
}

.texto {
    color: #fff;
    text-align: justify;
    font-size: 17px;
    font-weight: 100;
}

.infoContacto ul {
    position: relative;
}

.infoContacto ul li {
    position: relative;
    list-style: none;
    margin: 25px;
    cursor: pointer;
}

.infoContacto h4 {
    font-size: 1.3em;
    font-weight: 100;
}

.infoContacto ul li .icono {
    display: inline-block;
    width: 30px;
    font-size: 25px;
    color: #307bb1;
    margin-left: auto;
    padding-left: auto;
    
}

ul {
    padding-left: 0;
}

/*
.infoContacto .Educacion ul li {
    color: rgb(19, 11, 11);
    font-weight: 300;
}
*/

/****************************************************************/

.infoContacto.Educacion li {
    margin-bottom: 30px;
}

.infoContacto.Educacion h5 {
    color: #ffffff;
    font-weight: 500;
}

.infoContacto.Educacion h4:nth-child(2) {
    color: #ffffff;
    font-weight: 400;
}

.infoContacto.Educacion h4 {
    font-weight: 400;
    color: #2a7da2;
}

.infoContacto.Educacion h3 {
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 20px;
}

.infoContacto.idiomas .porcentaje {
    position: relative;
    width: 100%;
    height: 6px;
    display: block;
    margin-top: 5px;
}

.infoContacto.idiomas .porcentaje div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #03a9f4;
}

/****************************************************************/
.container .rightside {
    position: relative;
    background: #fff;
    padding: 20px;    
}

.acerca {
    margin-bottom: 70px;
}

.acerca:last-child (2) {
    margin-bottom: 0
}
    

.title2 {
    color: #083147;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom: 40px;

}

p {
    color: #333;
    font-size: 16px;
}

.acerca .box {
    display: flex;
    flex-direction: row;
    margin: 30px 0;
}

.acerca .box .tiempo_empresa {
    min-width: 10em;
    margin: 5em 0;
}

.acerca .box .tiempo_empresa h5 {
    text-transform: uppercase;
    color: grey;
    font-weight: 350;
    font-size: 1.05em;
}

.acerca .box .texto h4 {
    text-transform: uppercase;
    color: #2a7da2;
    font-size: 26px;
}

.Habilidades .box {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
    align-items: center;
}

.Habilidades .box h4 {
    text-transform: uppercase;
    color: grey;
    font-size: 1.05em;
    font-weight: 500;
}

.Habilidades .box .porcentaje {
    position: relative;
    width: 100%;
    height: 10px;
    background: #f0f0f0;
}

.Habilidades .box .porcentaje div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #03a9f4;
}

.Intereses ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.Intereses ul li {
    list-style: none;
    color: #333;
    font-weight: 500;
    margin: 10px 0;
}

.Intereses ul li .fa {
    color: #03a9f4;
    font-size: 18px;
}

.leftside .bob {
    background-color: #03a9f4;
    border: none;
    color: white;
    padding: 12px 10px;
    cursor: pointer;
    font-size: 20px;
    justify-content: center;
    margin-top: 80px;
    text-align: center;
    border-radius: 5px;
    
}

.bob:hover {
    background-color: #5ea8f1;
    color: #ffffff;
}

footer {
    color: #083147;
    text-align: right;
}
/***************************************************/

@media (max-width: 1000px) {
    .container {
        margin: 10 0 10 0;
        grid-template-columns: repeat(1, 1fr);
    }
    .Intereses ul {
        grid-template-columns: repeat(2, 1fr);
    }
    .infoContacto {
        text-align: center;
    }
}

@media (max-width: 600px) {
    .acerca .box {
        flex-direction: column;
    }
    .acerca .box .tiempo_empresa {
        min-width: 150px;
        margin-bottom: 7px;
    }
    .Intereses ul {
        grid-template-columns: repeat(1, 1fr);
    }
    .Habilidades .box {
        grid-template-columns: repeat(1, 1fr);
    }
}
